# Binaries
controller/bin/
controller/kbl-compute
*.exe
*.dll
*.so
*.dylib

# Go
controller/vendor/

# Test artifacts
/tmp/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# GitGuardian / ggshield
.cache_ggshield


# CDK
infra/aws/cdk/node_modules/
infra/aws/cdk/cdk.out/
infra/aws/cdk/dist/
